<web-app>

        <servlet>
            <servlet-name>create</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserCreate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>create</servlet-name>
            <url-pattern>/create</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>delete</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserDelete</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>delete</servlet-name>
            <url-pattern>/delete</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>update</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserUpdate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>update</servlet-name>
            <url-pattern>/update</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>Authentication controller</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.AuthenticationController</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>Authentication controller</servlet-name>
            <url-pattern>/signin</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>Get info controller</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.GetInformation</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>Get info controller</servlet-name>
            <url-pattern>/info</url-pattern>
        </servlet-mapping>



</web-app>