<web-app>


        <servlet>
            <servlet-name>create</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserCreate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>create</servlet-name>
            <url-pattern>/create</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>delete</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserDelete</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>delete</servlet-name>
            <url-pattern>/delete</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>update</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.UserUpdate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>update</servlet-name>
            <url-pattern>/update</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>createrole</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.RoleCreate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>createrole</servlet-name>
            <url-pattern>/createrole</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>deleterole</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.RoleDelete</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>deleterole</servlet-name>
            <url-pattern>/deleterole</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>updaterole</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.RoleUpdate</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>updaterole</servlet-name>
            <url-pattern>/updaterole</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>Signin controller</servlet-name>
            <servlet-class>ru.szhernovoy.controllers.SigninController</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>Signin controller</servlet-name>
            <url-pattern>/signin</url-pattern>
        </servlet-mapping>


</web-app>