/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modalWindow {
    display: none;
    width: 10px;;
    height:10px;
    border:2px solid #FF0000;
    box-shadow: 0 0 3px #000;
    position: absolute;
    top: 20%;
    left:50%;
    margin-left:-150px;
    z-index: 1;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 45%;
    margin: auto;
}